Interfaz en Node-Red/Flow en Node-RED.json
[
    {
        "id": "722a61c5ce55e5a4",
        "type": "tab",
        "label": "ProyectoCapston",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "58758d9f3f89fe22",
        "type": "json",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "2dc6b40614cb6a85",
                "ebd7cf38460b06a6"
            ]
        ]
    },
    {
        "id": "2dc6b40614cb6a85",
        "type": "debug",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "42b6573f50bb49fb",
        "type": "debug",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 420,
        "wires": []
    },
    {
        "id": "037399db1dc9093c",
        "type": "ui_gauge",
        "z": "722a61c5ce55e5a4",
        "name": "Posicion",
        "group": "4a88c8c51a3d9a0c",
        "order": 5,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Posición",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": "116",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "b5eaf460e266f3e2",
        "type": "ui_text",
        "z": "722a61c5ce55e5a4",
        "group": "4a88c8c51a3d9a0c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "La planta se encuentra a:",
        "format": "{{msg.payload}} cm",
        "layout": "row-left",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "3450fb039cd041fc",
        "type": "ui_text_input",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "4a88c8c51a3d9a0c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "42b6573f50bb49fb",
                "037399db1dc9093c",
                "b5eaf460e266f3e2",
                "1f317ed7a3f2f46e"
            ]
        ]
    },
    {
        "id": "f55f0e89d3cb07fd",
        "type": "serial in",
        "z": "722a61c5ce55e5a4",
        "name": "Arduino Mega 2560",
        "serial": "ad0159dd39df2c27",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "58758d9f3f89fe22"
            ]
        ]
    },
    {
        "id": "def8637efde2fbc0",
        "type": "serial out",
        "z": "722a61c5ce55e5a4",
        "name": "Arduino Mega 2560",
        "serial": "ad0159dd39df2c27",
        "x": 570,
        "y": 420,
        "wires": []
    },
    {
        "id": "492ef6130b8a534e",
        "type": "mysql",
        "z": "722a61c5ce55e5a4",
        "mydb": "3d189ef0f0793009",
        "name": "",
        "x": 750,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ebd7cf38460b06a6",
        "type": "function",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "func": "var dinput = parseFloat(msg.payload.dinput);\nvar pos = parseFloat(msg.payload.pos);\nvar error = parseFloat(msg.payload.error);\nvar u = parseFloat(msg.payload.u);\nvar Xe = parseFloat(msg.payload.Xe);\n\nmsg.topic = \"INSERT INTO variablesdelproyecto(distancia,posicion,error,u,Xe) VALUES('\"+dinput+\"','\"+pos+\"','\"+error+\"','\"+u+\"','\"+Xe+\"')\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 180,
        "wires": [
            [
                "492ef6130b8a534e"
            ]
        ]
    },
    {
        "id": "1f317ed7a3f2f46e",
        "type": "ui_slider",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "label": "Distancia",
        "tooltip": "",
        "group": "4a88c8c51a3d9a0c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "116",
        "step": 1,
        "x": 340,
        "y": 360,
        "wires": [
            [
                "def8637efde2fbc0",
                "b5eaf460e266f3e2",
                "037399db1dc9093c"
            ]
        ]
    },
    {
        "id": "1d84ee562c2171ed",
        "type": "inject",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "2f469e53e94e0c0d"
            ]
        ]
    },
    {
        "id": "cf0ed5201bd4e77e",
        "type": "function",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "func": "msg.IPv4 = msg.payload[5].address;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 540,
        "wires": [
            [
                "80cac0aee914664f",
                "a4bffc6988fb49ea"
            ]
        ]
    },
    {
        "id": "2f469e53e94e0c0d",
        "type": "hostip",
        "z": "722a61c5ce55e5a4",
        "name": "Host IP",
        "x": 340,
        "y": 540,
        "wires": [
            [
                "cf0ed5201bd4e77e"
            ]
        ]
    },
    {
        "id": "80cac0aee914664f",
        "type": "debug",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 500,
        "wires": []
    },
    {
        "id": "a4bffc6988fb49ea",
        "type": "ui_text",
        "z": "722a61c5ce55e5a4",
        "group": "4a88c8c51a3d9a0c",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IPv4",
        "format": "{{msg.IPv4}}",
        "layout": "col-center",
        "x": 650,
        "y": 580,
        "wires": []
    },
    {
        "id": "0a249e2021920a84",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "aa5835bbe7dfd8a6",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "da01fffc90c44e9b",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "be6446e814e5fbda",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "e5be9f0cf90c7a71",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "ebe710cc42328d21",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "5d1e62e19f833d7e",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "87fef2a4f6749824",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "a8b3000bee34a5aa",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "018f7c34f29d5318",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "bfc33249af1b87be",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "24fe5ab5a04bc779",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "0e0cdc394dde4b29",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "250d4edca26efa41",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "771aa1866edc81b9",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "52ab3af3bf6e1fba",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "31d88d49440dc114",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "2cddb2f9fc722e24",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "390e7ef2a3c3420e",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 21,
        "width": 2,
        "height": 1
    },
    {
        "id": "351bac41b8146202",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "17d6ec02a750ba0d",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 23,
        "width": 2,
        "height": 1
    },
    {
        "id": "60cf7c5a6404a581",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 24,
        "width": 20,
        "height": 1
    },
    {
        "id": "cf532a5ac2ff5267",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 25,
        "width": 2,
        "height": 1
    },
    {
        "id": "a216fa26716955d8",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 27,
        "width": 2,
        "height": 1
    },
    {
        "id": "07aba764b5dbf8f4",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 29,
        "width": 2,
        "height": 1
    },
    {
        "id": "04cc3c9e9ea3fb0e",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 30,
        "width": 2,
        "height": 1
    },
    {
        "id": "1c2220935fe12b97",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 31,
        "width": 2,
        "height": 1
    },
    {
        "id": "a679c8b44ee28815",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 32,
        "width": 2,
        "height": 1
    },
    {
        "id": "8f8d56e0cd8c86e7",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 33,
        "width": 2,
        "height": 1
    },
    {
        "id": "fd234acfd9e26ec8",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 34,
        "width": 2,
        "height": 1
    },
    {
        "id": "a6158a97aab9a6b1",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 35,
        "width": 2,
        "height": 1
    },
    {
        "id": "f8b059647b5a6104",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 36,
        "width": 2,
        "height": 1
    },
    {
        "id": "d58a885b50c818b5",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 37,
        "width": 2,
        "height": 1
    },
    {
        "id": "3d805dc30210ba30",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 38,
        "width": 2,
        "height": 1
    },
    {
        "id": "d9506561910fa0b6",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 39,
        "width": 2,
        "height": 1
    },
    {
        "id": "f508845f76ff1733",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 40,
        "width": 2,
        "height": 1
    },
    {
        "id": "1e9cb232436a722c",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 41,
        "width": 2,
        "height": 1
    },
    {
        "id": "ba807639a84c22be",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 42,
        "width": 2,
        "height": 1
    },
    {
        "id": "8f89fa0378440dc3",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 43,
        "width": 2,
        "height": 1
    },
    {
        "id": "a957d92459349248",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 44,
        "width": 2,
        "height": 1
    },
    {
        "id": "f8cfd7d4acc0c5bd",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 45,
        "width": 2,
        "height": 1
    },
    {
        "id": "a9b3520c0a489bec",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 46,
        "width": 2,
        "height": 1
    },
    {
        "id": "91fc02d14f9402f2",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 47,
        "width": 2,
        "height": 1
    },
    {
        "id": "06ad3cce979db276",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "4a88c8c51a3d9a0c",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "18b9244bedf59adf",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "4a88c8c51a3d9a0c",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "2229b7fec8752cee",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "4a88c8c51a3d9a0c",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "b051dafe5108d69c",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "4a88c8c51a3d9a0c",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "93a39f52063005a6",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "4a88c8c51a3d9a0c",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "d27e3330a8cd664f",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "4a88c8c51a3d9a0c",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "c15b7fbd5c2c0d14",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "4a88c8c51a3d9a0c",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "b82e44a1648f7dde",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "4a88c8c51a3d9a0c",
        "order": 12,
        "width": 3,
        "height": 1
    },
    {
        "id": "75f4257ce5e68de9",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "4a88c8c51a3d9a0c",
        "order": 13,
        "width": 3,
        "height": 1
    },
    {
        "id": "5edb5caebb0dfa9d",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "4a88c8c51a3d9a0c",
        "order": 14,
        "width": 3,
        "height": 1
    },
    {
        "id": "4a88c8c51a3d9a0c",
        "type": "ui_group",
        "name": "Valores de entrada",
        "tab": "4c49ac157d69cae2",
        "order": 1,
        "disp": true,
        "width": 11,
        "collapse": true
    },
    {
        "id": "ad0159dd39df2c27",
        "type": "serial-port",
        "serialport": "COM8",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "3d189ef0f0793009",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "proyectocapstone",
        "tz": "-05:00",
        "charset": "UTF8"
    },
    {
        "id": "9ca7d94ce28c7748",
        "type": "ui_group",
        "name": "Monitoreo del Motor",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": 20,
        "collapse": false
    },
    {
        "id": "4c49ac157d69cae2",
        "type": "ui_tab",
        "name": "ProyectoCapston",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]