CódigoDeNodeRed.json
[
    {
        "id": "722a61c5ce55e5a4",
        "type": "tab",
        "label": "ProyectoCapston",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "58758d9f3f89fe22",
        "type": "json",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "2dc6b40614cb6a85",
                "3552d1f71f88843c",
                "d43137cc7a4b3f8f",
                "7b585af08743704f",
                "4dfd5b1ef115117b"
            ]
        ]
    },
    {
        "id": "198035e43786b072",
        "type": "mqtt in",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "topic": "Controlador/Difuso/IoT/AJA",
        "qos": "2",
        "datatype": "auto",
        "broker": "f157cb16a8d7aaea",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "58758d9f3f89fe22",
                "51d20acb8e2b5531"
            ]
        ]
    },
    {
        "id": "51d20acb8e2b5531",
        "type": "debug",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 40,
        "wires": []
    },
    {
        "id": "2dc6b40614cb6a85",
        "type": "debug",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "3552d1f71f88843c",
        "type": "function",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "func": "var dinput = parseFloat(msg.payload.dinput);\nmsg.payload = dinput;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 80,
        "wires": [
            [
                "6f2046a6469aac16",
                "e0be461243a68d68"
            ]
        ]
    },
    {
        "id": "eea145219823d3c0",
        "type": "mqtt out",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "topic": "esp32/output",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f157cb16a8d7aaea",
        "x": 330,
        "y": 560,
        "wires": []
    },
    {
        "id": "42b6573f50bb49fb",
        "type": "debug",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 480,
        "wires": []
    },
    {
        "id": "7ad25ced7b542717",
        "type": "ui_text_input",
        "z": "722a61c5ce55e5a4",
        "name": "Posicion de la planta",
        "label": "Ingresa la posición de la planta:",
        "tooltip": "",
        "group": "6475dd0a5ef9cd70",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "eea145219823d3c0",
                "42b6573f50bb49fb",
                "037399db1dc9093c",
                "b5eaf460e266f3e2"
            ]
        ]
    },
    {
        "id": "037399db1dc9093c",
        "type": "ui_gauge",
        "z": "722a61c5ce55e5a4",
        "name": "Posicion",
        "group": "6475dd0a5ef9cd70",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Posición",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": "116",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 320,
        "y": 640,
        "wires": []
    },
    {
        "id": "d43137cc7a4b3f8f",
        "type": "function",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "func": "var pos = parseFloat(msg.payload.pos);\nmsg.payload = pos;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 120,
        "wires": [
            [
                "6f2046a6469aac16",
                "8c50ce1506cbc441"
            ]
        ]
    },
    {
        "id": "7b585af08743704f",
        "type": "function",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "func": "var error = parseFloat(msg.payload.error);\nmsg.payload = error;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 160,
        "wires": [
            [
                "6f2046a6469aac16",
                "0134a1647d5caa65"
            ]
        ]
    },
    {
        "id": "4dfd5b1ef115117b",
        "type": "function",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "func": "var u = parseFloat(msg.payload.u);\nmsg.payload = u;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 200,
        "wires": [
            [
                "6f2046a6469aac16",
                "1a321488440cc6be"
            ]
        ]
    },
    {
        "id": "6f2046a6469aac16",
        "type": "ui_chart",
        "z": "722a61c5ce55e5a4",
        "name": "Grafica",
        "group": "4a88c8c51a3d9a0c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Grafica de las variables",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 820,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b5eaf460e266f3e2",
        "type": "ui_text",
        "z": "722a61c5ce55e5a4",
        "group": "6475dd0a5ef9cd70",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "La planta se encuentra a:",
        "format": "{{msg.payload}} cm",
        "layout": "row-left",
        "x": 370,
        "y": 700,
        "wires": []
    },
    {
        "id": "e0be461243a68d68",
        "type": "ui_text",
        "z": "722a61c5ce55e5a4",
        "group": "4a88c8c51a3d9a0c",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Variable dinput: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 840,
        "y": 60,
        "wires": []
    },
    {
        "id": "8c50ce1506cbc441",
        "type": "ui_text",
        "z": "722a61c5ce55e5a4",
        "group": "4a88c8c51a3d9a0c",
        "order": 4,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Variable pos:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "0134a1647d5caa65",
        "type": "ui_text",
        "z": "722a61c5ce55e5a4",
        "group": "4a88c8c51a3d9a0c",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Variable error:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "1a321488440cc6be",
        "type": "ui_text",
        "z": "722a61c5ce55e5a4",
        "group": "4a88c8c51a3d9a0c",
        "order": 5,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Variable u:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "d8acec81a5223b63",
        "type": "mqtt in",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "topic": "Controlador/Difuso/IoT/AJA/Motor",
        "qos": "2",
        "datatype": "auto",
        "broker": "352280f3ca56f37b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 360,
        "wires": [
            [
                "50e96ed250615cdd"
            ]
        ]
    },
    {
        "id": "8ff05f1290fc4934",
        "type": "ui_gauge",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "group": "9ca7d94ce28c7748",
        "order": 2,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "Voltaje",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "50e96ed250615cdd",
        "type": "json",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 360,
        "wires": [
            [
                "06c19d1c68024bd2",
                "7da7bb0c9b4e87d4"
            ]
        ]
    },
    {
        "id": "06c19d1c68024bd2",
        "type": "function",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 300,
        "wires": [
            [
                "8ff05f1290fc4934",
                "71501837bffe1f65"
            ]
        ]
    },
    {
        "id": "7da7bb0c9b4e87d4",
        "type": "function",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 420,
        "wires": [
            [
                "438521f62c037587",
                "bee6d3752e185bb0"
            ]
        ]
    },
    {
        "id": "438521f62c037587",
        "type": "ui_gauge",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "group": "9ca7d94ce28c7748",
        "order": 26,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "Corriente",
        "label": "A",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 760,
        "y": 400,
        "wires": []
    },
    {
        "id": "71501837bffe1f65",
        "type": "ui_chart",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "group": "9ca7d94ce28c7748",
        "order": 4,
        "width": 7,
        "height": 7,
        "label": "Voltaje",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 750,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "bee6d3752e185bb0",
        "type": "ui_chart",
        "z": "722a61c5ce55e5a4",
        "name": "",
        "group": "9ca7d94ce28c7748",
        "order": 28,
        "width": 7,
        "height": 7,
        "label": "Corriente",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 760,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "0a249e2021920a84",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "aa5835bbe7dfd8a6",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "da01fffc90c44e9b",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "be6446e814e5fbda",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "e5be9f0cf90c7a71",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "ebe710cc42328d21",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "5d1e62e19f833d7e",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "87fef2a4f6749824",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "a8b3000bee34a5aa",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "018f7c34f29d5318",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "bfc33249af1b87be",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "24fe5ab5a04bc779",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "0e0cdc394dde4b29",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "250d4edca26efa41",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "771aa1866edc81b9",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "52ab3af3bf6e1fba",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "31d88d49440dc114",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "2cddb2f9fc722e24",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "390e7ef2a3c3420e",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 21,
        "width": 2,
        "height": 1
    },
    {
        "id": "351bac41b8146202",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "17d6ec02a750ba0d",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 23,
        "width": 2,
        "height": 1
    },
    {
        "id": "60cf7c5a6404a581",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 24,
        "width": 20,
        "height": 1
    },
    {
        "id": "cf532a5ac2ff5267",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 25,
        "width": 2,
        "height": 1
    },
    {
        "id": "a216fa26716955d8",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 27,
        "width": 2,
        "height": 1
    },
    {
        "id": "07aba764b5dbf8f4",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 29,
        "width": 2,
        "height": 1
    },
    {
        "id": "04cc3c9e9ea3fb0e",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 30,
        "width": 2,
        "height": 1
    },
    {
        "id": "1c2220935fe12b97",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 31,
        "width": 2,
        "height": 1
    },
    {
        "id": "a679c8b44ee28815",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 32,
        "width": 2,
        "height": 1
    },
    {
        "id": "8f8d56e0cd8c86e7",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 33,
        "width": 2,
        "height": 1
    },
    {
        "id": "fd234acfd9e26ec8",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 34,
        "width": 2,
        "height": 1
    },
    {
        "id": "a6158a97aab9a6b1",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 35,
        "width": 2,
        "height": 1
    },
    {
        "id": "f8b059647b5a6104",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 36,
        "width": 2,
        "height": 1
    },
    {
        "id": "d58a885b50c818b5",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 37,
        "width": 2,
        "height": 1
    },
    {
        "id": "3d805dc30210ba30",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 38,
        "width": 2,
        "height": 1
    },
    {
        "id": "d9506561910fa0b6",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 39,
        "width": 2,
        "height": 1
    },
    {
        "id": "f508845f76ff1733",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 40,
        "width": 2,
        "height": 1
    },
    {
        "id": "1e9cb232436a722c",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 41,
        "width": 2,
        "height": 1
    },
    {
        "id": "ba807639a84c22be",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 42,
        "width": 2,
        "height": 1
    },
    {
        "id": "8f89fa0378440dc3",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 43,
        "width": 2,
        "height": 1
    },
    {
        "id": "a957d92459349248",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 44,
        "width": 2,
        "height": 1
    },
    {
        "id": "f8cfd7d4acc0c5bd",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 45,
        "width": 2,
        "height": 1
    },
    {
        "id": "a9b3520c0a489bec",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 46,
        "width": 2,
        "height": 1
    },
    {
        "id": "91fc02d14f9402f2",
        "type": "ui_spacer",
        "z": "722a61c5ce55e5a4",
        "name": "spacer",
        "group": "9ca7d94ce28c7748",
        "order": 47,
        "width": 2,
        "height": 1
    },
    {
        "id": "f157cb16a8d7aaea",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.65",
        "port": "1883",
        "clientid": "MiPrueba",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6475dd0a5ef9cd70",
        "type": "ui_group",
        "name": "Control de la planta",
        "tab": "4c49ac157d69cae2",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": true
    },
    {
        "id": "4a88c8c51a3d9a0c",
        "type": "ui_group",
        "name": "Variables difusas",
        "tab": "4c49ac157d69cae2",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": true
    },
    {
        "id": "352280f3ca56f37b",
        "type": "mqtt-broker",
        "name": "FundaSpecs",
        "broker": "192.168.1.65",
        "port": "1883",
        "clientid": "El_macho_castigador",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9ca7d94ce28c7748",
        "type": "ui_group",
        "name": "Monitoreo del Motor",
        "tab": "8e0360752db59d55",
        "order": 3,
        "disp": true,
        "width": 20,
        "collapse": false
    },
    {
        "id": "4c49ac157d69cae2",
        "type": "ui_tab",
        "name": "ProyectoCapston",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8e0360752db59d55",
        "type": "ui_tab",
        "name": "Monitoreo del Motor",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]